@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap');

* {
    color: #E3E3E3;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}



body {
    background-color: #27272C;
}

/* header section */
header {
    height: 15px;
    background: linear-gradient(90deg, #C96BC6 0%, #786BC9 21.78%, #6BA7C8 45.31%, #8EC7BA 69.79%, #C9A36B 92.71%);
}

/* logo section */
.logo {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* search section */
.container-search {
    background-color: #27272C;
    width: 1136px;
    padding: 5px 0;
    margin: 0 10px 20px 10px;
    position: sticky;
    top: 0;
    z-index: 3;
}

form {
    display: flex;
    justify-content: space-between;
}

.container-input-search {
    background: linear-gradient(90deg, #C96BC6 0%, #786BC9 24.65%, #6BA7C8 47.77%, #8EC7BA 73.61%, #C9A36B 100%);
    padding: 1px;
    width: 1000px;
    height: 40px;
    border-radius: 5px;
    margin-right: 10px;
}

.box-input-search {
    background-color: #27272C;
    border-radius: 5px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-text {
    width: 97%;
    height: 70%;
    background-color: transparent;
    border-color: transparent;
    padding: 0 10px;
    font-size: 1rem;
    outline: 0;
}

.container-btn-search {
    background: linear-gradient(90deg, #9E41EF 0%, #C96BC6 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    border-radius: 5px;
    overflow: hidden;
}

.btn-search {
    border-color: transparent;
    background-color: transparent;
    width: 100%;
    height: 100%;
    font-weight: bold;
    cursor: pointer;
}

/* card article section */
.container-card-article {
    width: 1146px;
    display: flex;
    flex-wrap: wrap;
    /* background-color: green; */
}

.box-card-article {
    background: linear-gradient(90deg, #C96BC6 0%, #786BC9 24.65%, #6BA7C8 47.77%, #8EC7BA 73.61%, #C9A36B 100%);
    border-radius: 5px;
    overflow: hidden;
    padding: 1px;
    width: max-content;
    margin: 5px;
    position: relative;
}

.box-card-article:hover .card-img img {
    transform: scale(1.05);
    transition: 0.5s;
}

.card-article {
    background-color: #27272C;
    border-radius: 5px;
    width: 370px;
    padding-bottom: 10px;
}

.card-link {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

.card-img img {
    width: 100%;
    transition: 0.5s;
}

.card-tittle {
    margin: 5px 10px 0 10px;
    text-transform: capitalize;
}

.card-date {
    display: flex;
    align-items: center;
    margin: 10px 10px 0 10px;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: grey;
    margin-right: 5px;
}

.date {
    color: grey;
    font-size: .9rem;
}

/* request section */
.container-request {
    width: 1135px;
    /* background-color: green; */
    margin: 20px 0;
}

.form-request {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-textarea-request {
    background: linear-gradient(90deg, #C96BC6 0%, #786BC9 24.65%, #6BA7C8 47.77%, #8EC7BA 73.61%, #C9A36B 100%);
    padding: 1px;
    border-radius: 5px;
}

.textarea-request {
    background-color: #27272C;
    border-radius: 5px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textarea-box {
    width: 99%;
    height: 98%;
    border-color: transparent;
    background-color: transparent;
    padding: 5px;
    box-sizing: border-box;
    font-size: 1rem;
    outline: 0;
}

.action-textarea-request {
    margin-top: 10px;
}

.container-input-name {
    background: linear-gradient(90deg, #C96BC6 0%, #786BC9 24.65%, #6BA7C8 47.77%, #8EC7BA 73.61%, #C9A36B 100%);
    padding: 1px;
    border-radius: 5px;
    width: max-content;
}

.box-input-name {
    background-color: #27272C;
    width: 310px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-name {
    width: 98%;
    height: 70%;
    background-color: transparent;
    border-color: transparent;
    padding: 5px;
    box-sizing: border-box;
    font-size: 1rem;
    outline: 0;
}

.button-textarea-request {
    background: linear-gradient(90deg, #9E41EF 0%, #C96BC6 100%);
    width: max-content;
    height: 30px;
    overflow: hidden;
    border-radius: 5px;
    margin-top: 10px;
}

.btn-request {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-color: transparent;
    font-size: 1rem;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    padding: 0 20px;
}

/* footer section */
footer {
    background-color: #C338AC;
    padding: 20px 0;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.container-footer {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: green; */
    margin: 0 5px;
} 

.copyright {
    color: white;
}

.container-medsos {
    display: flex;
    align-items: center;
}

.medsos {
    width: 45px;
    height: 45px;
    margin: 0 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border: 2px solid #C338AC;
    transition: .5s;
}

.medsos:hover {
    background-color: rgb(255, 255, 255, 0.3);
    transition: .5s;
    border: 2px solid rgb(255, 255, 255);
}

.medsos i {
    font-size: 1.5rem;
    color: white;
}

.link-medsos {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.donasi {
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    transition: .5s;
    position: relative;
}

.donasi:hover {
    background-color: rgb(255, 255, 255, .3);
    transition: .5s;
}

.donasi i {
    color: yellow;
}

.donasi-link {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}