@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.container-background {
    background-image: url(../img/background.png);
    background-size: cover;
    height: 100vh;
}

.containerBox-profil {
    padding: 50px 0;
}

.containerBox-profil .nama {
    text-align: center;
    margin: 20px;
    font-size: 2em;
    color: #3a3a3a;
    
}

.containerBox-profil .status {
    text-align: center;
    color: #8d8c8c;
    font-size: 0.9em;
}


.container-profil {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 220px;
    height: 220px;
    background-color: #95B3FC;
    border-radius: 100%;
    
}

.box-profil {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B0C7FF;
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.box-profil img {
    border-radius: 100%;
}

.container-aboutme {
    background-image: url(../img/background2.png);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.judul {
    text-align: center;
    color: #3a3a3a;
}

.container-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    color: #000000;
}

.bio {
    /* background-color: #5f6c8d; */
    max-width: 500px;
    margin: 0 30px 0 10px;
    
}


.bio h4, .bio p {
    padding-top: 10px;
    text-align: center;
}

.imgProfil {
    /* background-color: #8d8c8c; */
    max-width: 300px;
    margin: 0 0 0 0;
}

.imgProfil img {
    border-radius: 100%;
    border: 10px solid #82a3f8;
    padding: 10px;
}

.story {
    /* background-color: #3a3a3a; */
    max-width: 380px;
    margin: 0 10px 0 30px;    
}

.story p {
    line-height: 35px;
    text-align: center;
    font-size: 0.9em;
}

.container-skills {
    background-image: url(../img/background-3.png);
    background-size: cover;
    height: 150vh;
}

.boxcontainerskillss {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.judulSkills {
    text-align: center;
    padding-bottom: 50px;
    color: #3a3a3a;
}

.containerCards {
    max-width: 1000px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.boxCards {
    /* background-color: #000000; */
    width: 290px;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 5px;
    margin-right: 5px; 
    margin-bottom: 20px;
}

.experieces {
    margin: auto;
    margin-top: 40px;
    width: max-content;
    color: #dadada;
    /* background-color: #1c2e5c; */
}

.programName {
    background-color: #82a3f8;
    width: 200px;
    height: 60px;
    margin: auto;
    font-weight: bold;
    border-radius: 10px;
    border: 5px solid #95B3FC;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 30px;
    color: #dadada;
}

.experieces p {
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
}


.cardspembungkus {
    background-color: #82a3f8;
    height: 300px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    border-radius: 10px;
    overflow-x: unset;
}


.containerProject {
    background-image: url(../img/background4.png);
    background-size: cover;
    height: max-content;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.judulProject {
    text-align: center;
    margin-bottom: 50px;
    color: #3a3a3a;
}

.project {
    max-width: 650px;
    margin: 30px 10px;
}

.project img {
    width: 100%;
}

.box-project {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    width: 100%;
}

footer {
    background-color: #95B3FC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border-top: 3px solid #9EBBFF;
}

.medsos {
    margin-bottom: 10px;
    font-size: 0.8em;
}

.medsos a {
    text-decoration: none;
    color: #3a3a3a;
}

.medsos a:hover {
    color: #ffffff;
}

.copyright {
    color: #3a3a3a;
}


/* RESPONSIVE */

@media (max-width:929px) {
    .container-skills {
        height: max-content;
        padding: 50px 0;
    }

    .containerCards {
        margin-bottom: 0;
    }

    /* .cards {
        margin-bottom: 80px;
    } */
}

@media (max-width:322px) {
    .cards {
        width: 270px;
    }
}


@media (max-width:322px) {
    .containerBox-profil .nama {
        font-size: 1.6em;
    }
}

@media (max-width:1042px) {

    .container-aboutme {
        height: max-content;
        padding: 50px 0;
    }

    .judul {
        padding-top: 0;
    }


    .container-detail {
        flex-direction: column;
        margin-top: 50px;
    }

    .bio {
        order: 2;
        text-align: center;
        border-bottom: 1px solid hsl(216, 18%, 62%);
        margin: 0 10px 0 10px;
    }

    .bio p:last-child {
        padding-bottom: 10px;
    }
    

    .imgProfil {
        order: 1;
    }

    .story {
        order: 3;
        max-width: 700px;
    }

    .story {
        text-align: justify;
        /* margin: 20px 10px 100px 10px; */
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .story p {
        text-align: justify;
    }
}
