/* all section */
@media screen and (max-width:834px) {
    * {
        cursor: default;
    }
}

/* logo section */
@media screen and (max-width:1000px) {
    .logo-img {
        width: 250px;
    }
}

@media screen and (max-width:428px) {
    .logo-img {
        width: 230px;
    }
}

/* video section */
@media screen and (max-width:308px) {
    .container-video iframe  {
        max-width: 270px;
        margin: auto;
    }
}

/* daftar isi section */
@media screen and (max-width:342px) {
    .container-daftar-isi {
        width: 80vw;
    }
}

/* share section */
@media screen and (max-width:760px) {
    .container-share {
        width: 98%;
    }

    .box-share-margin {
        margin-right: 13px;
    }
}

@media screen and (max-width:596px) {
    .box-share i, .box-share p {
        font-size: .8rem;
    }
}

@media screen and (max-width:516px) {
    .box-share {
        flex-direction: column;
    }

    .line-share {
        display: none;
    }
}

@media screen and (max-width:368px) {
    .box-share p {
        font-size: .7rem;
    }
}

@media screen and (max-width:332px) {
    .box-share p {
        font-size: .6rem;
    }
}

@media screen and (max-width:300px) {
    .box-share p {
        font-size: .5rem;
    }
}

/* article section */
@media screen and (max-width:760px) {
    article {
        width: 100%;
    }

    .article-content {
        padding: 0 6px;
    }

    .list-li {
        margin-left: 28px;
    }

    .list-li-tab-satu {
        margin-left: 38px;
    }

    .list-li-tab-dua {
        margin-left: 48px;
    }

    .list-li-tab-tiga {
        margin-left: 58px;
    }

    .list-li-tab-empat {
        margin-left: 68px;
    }

    .disclemer, .sub-judul {
        margin: 0 6px;
    }

    .article-image {
        padding: 0 6px;
    }
}

@media screen and (max-width:428px) {
    .article-tittle {
        font-size: 2rem;
    }
}

@media screen and (max-width:720px) {
    .container-article-code {
        width: 97%;
    }
}

@media screen and (max-width:834px) {
    .container-article-code::-webkit-scrollbar {
        width: 3px;
        height: 3px;
    }
    /* Handle */
    .container-article-code::-webkit-scrollbar-thumb {
        background: #414141;
    }
}

/* request section */
@media screen and (max-width:760px) {
    .container-request {
        width: 100%;
        padding: 0 6px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 834px) {
    .btn-request {
        cursor: default;
    }
}

@media screen and (max-width:324px) {
    .box-input-name, .input-name {
        width: 100%;
    }
}

/* footer section */
@media screen and (max-width:818px) {
    .container-footer {
        flex-direction: column;
    } 

    .donasi {
        margin: 15px 0 10px 0;
    }     
}

@media screen and (max-width:834px) {
    .container-btn-top {
        cursor: default;
    }
}