@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

* {
    color: #E3E3E3;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #27272C;
}

/* header section */
header {
    height: 10px;
    background: linear-gradient(90deg, #C96BC6 0%, #786BC9 21.78%, #6BA7C8 45.31%, #8EC7BA 69.79%, #C9A36B 92.71%);
}

/* logo section */
.logo {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* daftar isi section */
.container-daftar-isi {
    position: fixed;
    left: 0;
    top: 10px;
    max-width: 300px;
    height: 100vh;
    /* background-color: rgb(0, 0, 0, 0.5); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(-100%);
    transition: 0.5s;
    z-index: 5;
}

.container-daftar-isi p {
    font-size: 1.1rem;
    font-weight: bold;
    padding-left: 10px;
    background-color: #E3E3E3;
    color: #27272C;
}

.container-daftar-isi-show {
    transform: translatex(0);
    transition: 0.5s;

}

.daftar-isi {
    background-color: #27272C;
    width: 100%;
    height: 300px;
    position: relative;
    display: flex;
    padding: 10px 10px 10px 30px;
    overflow: auto;
    border-right: 2px solid #E3E3E3;
    border-bottom: 2px solid #E3E3E3;
}

.daftar-isi::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
/* Handle */
.daftar-isi::-webkit-scrollbar-thumb {
    background: #1e1e22;
}

.daftar-isi li {
    list-style: decimal;
    line-height: 27px;
}

.daftar-isi li a:hover {
    color: #AB79D6;
}

.daftar-isi ul li::marker {
    color: #AB79D6;
}

.button-daftar-isi {
    position: absolute;
    right: -22.5px;
    background-color: #27272C;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-right: 2px solid #E3E3E3;
    border-top: 2px solid #E3E3E3;
    border-bottom: 2px solid #E3E3E3;
    cursor: pointer;
    width: 25px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-right {
    font-size: 1rem;
    transform: rotate(0deg);
}

.btn-right-rotate {
    transform: rotate(180deg);
}

.notif-daftar-isi {
    position: absolute;
    top: -30px;
    right: -125px;
    z-index: 8;
    background-color: #27272C;
    padding: 5px 10px;
    font-size: 1rem;
    border: 2px solid #E3E3E3;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* share section */
.container-share {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid #3a3a3a;
    border-bottom: 1px solid #3a3a3a;
    margin: 20px 0;
    padding: 10px 0;
    width: 740px;
}

.box-share {    
    padding: 5px 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #3a3a3a;
    position: relative;
}



.line-share {
    width: 1px;
    height: 15px;
    margin: 0 10px;
    background-color: #3a3a3a;
}

.segitiga-kanan{
    width: 0; 
    height: 0;     
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;    
    border-left: 10px solid #3a3a3a;
    position: absolute;
    right: -10px;
}

.link-share {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

/* article section */
/* collor pallets article section */
.merah {
    color: #ff0000;
}

.orange {
    color: orange;
}

.putih {
    color: white;
}

.hitam {
    color: black;
}

.kuning {
    color: #FFC811;
}

.kuning-gelap {
    color: #C7A062;
}

.hijau {
    color: #62CB50;
}

.hijau-tua {
    color: darkgreen;
}

.biru {
    color: #0DBBCB;
}

.cokelat {
    color: brown;
}

.abu-abu {
    color: grey;
}

.merah-muda {
    color: #D367C1;
}

.emas {
    color: gold;
}

.ungu {
    color: purple;
}

.violet {
    color: #AB79D6;
}

/* tab all article section */
.tab-satu {
    margin-left: 10px;
}

article {
    width: 740px;
    padding: 20px 0;
    /* background-color: pink; */
}

.article-tittle {
    text-align: center;
    text-transform: capitalize;
    margin: 0 6px;
    font-size: 3rem;
    font-weight: bold;
    color: #AB79D6;
}

.article-date {
    text-align: center;
    font-size: 1.3rem;
    padding: 20px 6px;
    box-sizing: border-box;
}

.poster {
    width: 100%;
    padding: 20px 0;
}

.article-content {
    font-size: 1rem;
    line-height: 27px;
    /* background-color: pink; */
}

.disclemer {
    border-left: 5px solid #cb506d;
    line-height: 27px;
    padding: 0 0 0 10px;
}

.link-content {
    color: #0DBBCB;
}

.sub-judul {
    color: #D367C1;
    line-height: 37px;
    font-size: 1.9rem;
    text-transform: capitalize;
}

.article-image {
    margin: auto;
    max-width: max-content;
}

.article-image img {
    width: 100%;
}

.container-video {
    display: flex;
    justify-content: center;
    padding: 0 6px;
}

.list-li {
    margin: 0 6px 0 22px;
    line-height: 27px;
}

.list-li-tab-satu {
    margin: 0 6px 0 32px;
    line-height: 27px;
}

.list-li-tab-dua {
    margin: 0 6px 0 42px;
    line-height: 27px;
}

.list-li-tab-tiga {
    margin: 0 6px 0 52px;
    line-height: 27px;
}

.list-li-tab-empat {
    margin: 0 6px 0 62px;
    line-height: 27px;
}

.list-li li::marker,
.list-li-tab-satu li::marker,
.list-li-tab-dua li::marker,
.list-li-tab-tiga li::marker,
.list-li-tab-empat li::marker {
    color: #AB79D6;
    font-size: 1.4rem;
}

/* code section */
.container-article-code {
    background-color: black;
    box-shadow: 0px 0px 7px #000000;
    border: 1px solid #27272C;
    width: 700px;
    max-height: 400px;
    margin: auto;
    padding: 10px;
    overflow: auto;    
    line-height: 27px;
}

.article-code {
    width: max-content;
}

.article-code p span {
    font-family: 'Courier Prime', monospace;
}

.container-article-code::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
/* Handle */
.container-article-code::-webkit-scrollbar-thumb {
    background: #141414;
}

/* request section */
.container-request {
    width: 740px;
    /* background-color: green; */
    margin: 20px 0;
}

.form-request {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-textarea-request {
    background: linear-gradient(90deg, #C96BC6 0%, #786BC9 24.65%, #6BA7C8 47.77%, #8EC7BA 73.61%, #C9A36B 100%);
    padding: 1px;
    border-radius: 5px;
}

.textarea-request {
    background-color: #27272C;
    border-radius: 5px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textarea-box {
    width: 99%;
    height: 98%;
    border-color: transparent;
    background-color: transparent;
    padding: 5px;
    box-sizing: border-box;
    font-size: 1rem;
    outline: 0;
}

.action-textarea-request {
    margin-top: 10px;
}

.container-input-name {
    background: linear-gradient(90deg, #C96BC6 0%, #786BC9 24.65%, #6BA7C8 47.77%, #8EC7BA 73.61%, #C9A36B 100%);
    padding: 1px;
    border-radius: 5px;
    width: max-content;
}

.box-input-name {
    background-color: #27272C;
    width: 310px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-name {
    width: 98%;
    height: 70%;
    background-color: transparent;
    border-color: transparent;
    padding: 5px;
    box-sizing: border-box;
    font-size: 1rem;
    outline: 0;
}

.button-textarea-request {
    background: linear-gradient(90deg, #9E41EF 0%, #C96BC6 100%);
    width: max-content;
    height: 30px;
    overflow: hidden;
    border-radius: 5px;
    margin-top: 10px;
}

.btn-request {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-color: transparent;
    font-size: 1rem;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    padding: 0 20px;
}

/* footer section */
footer {
    background-color: #C338AC;
    padding: 50px 0;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.container-footer {
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: green; */
    margin: 0 5px;
}

.copyright {
    color: white;
}

.container-medsos {
    display: flex;
    align-items: center;
}

.medsos {
    width: 45px;
    height: 45px;
    margin: 0 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border: 2px solid #C338AC;
    transition: .5s;
}

.medsos:hover {
    background-color: rgb(255, 255, 255, 0.3);
    transition: .5s;
    border: 2px solid rgb(255, 255, 255);
}

.medsos i {
    font-size: 1.5rem;
    color: white;
}

.link-medsos {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.donasi {
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    transition: .5s;
    position: relative;
}

.donasi:hover {
    background-color: rgb(255, 255, 255, .3);
    transition: .5s;
}

.donasi i {
    color: yellow;
}

.donasi-link {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

/* back to top section */
.container-btn-top {
    background: linear-gradient(90deg, #9E41EF 0%, #C96BC6 100%);
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 45px;
    height: 45px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.container-btn-top:hover .line-up {
    transform: translateY(-3px);
    transition: .5s;
}

.line-up {
    width: 20px;
    height: 3px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 3px;
    transition: .5s;
}

.container-btn-top i {
    color: white;
}